Repository naibarn/Smart-AI-Hub, changes with the owners that CODEOWNERS names for each.
All owners: @owner, @auth-team, @core-team, @infra-team, @frontend-team

Update backlog.md with Sprint 4 progress (2025-10-13)
  docs/backlog.md
Owners: @owner

fix: resolve ESLint errors in payment.service.ts
  packages/core-service/src/services/payment.service.ts
Owners: @owner

feat: enhance backend specification documents with comprehensive structure
  specs/backend/api_gateway.md
  specs/backend/auth_service.md
  specs/backend/core_service.md
  specs/backend/credit_account.md
  specs/backend/fr_1.md
  specs/backend/fr_2.md
  specs/backend/fr_3.md
  specs/backend/fr_4.md
  specs/backend/fr_5.md
  specs/backend/fr_6.md
  specs/backend/fr_auth_05.md
  specs/backend/fr_auth_06.md
  specs/backend/fr_credit_03.md
  specs/backend/fr_credit_04.md
  specs/backend/mcp_server.md
  specs/backend/permission.md
  specs/backend/promo_code.md
  specs/backend/promo_redemption.md
  specs/backend/role_permission.md
  specs/backend/usage_log.md
  specs/backend/user.md
  specs/backend/user_role.md
Owners: @owner

feat: Implement comprehensive Points System with auto top-up feature
  API_DOCUMENTATION.md
  docs/POINTS_IMPLEMENTATION_SUMMARY.md
  docs/POINTS_USER_GUIDE.md
  packages/core-service/.env.example
  packages/core-service/docs/POINTS_API_DOCUMENTATION.md
  packages/core-service/migration.sql
  packages/core-service/prisma/migrations/20240101000001_refactor_to_rbac_schema/migration.sql
  packages/core-service/prisma/migrations/init/migration.sql
  packages/core-service/prisma/schema.prisma
  packages/core-service/prisma/seed-points.ts
  packages/core-service/src/__mocks__/services.mock.ts
  packages/core-service/src/__tests__/point.service.test.ts
  packages/core-service/src/__tests__/point.system.e2e.test.ts
  packages/core-service/src/controllers/point.controller.ts
  packages/core-service/src/index.ts
  packages/core-service/src/routes/point.routes.ts
  packages/core-service/src/services/point.service.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/pages/Dashboard.tsx
  packages/frontend/src/pages/Points.tsx
  packages/frontend/src/pages/admin/PointsAdmin.tsx
  packages/frontend/src/services/api.ts
  packages/webhook-service/docs/DEVELOPER_GUIDE.md
Owners: @owner, @core-team

Update project with latest changes including security headers, point system improvements, and optimization scripts
  .husky/pre-commit
  analyze_quality_report.js
  eslint.config.js
  package.json
  packages/core-service/prisma/seed-points.ts
  packages/core-service/src/__tests__/point.service.test.ts
  packages/core-service/src/__tests__/point.system.e2e.test.ts
  packages/core-service/src/controllers/point.controller.ts
  packages/core-service/src/middlewares/analytics.middleware.ts
  packages/core-service/src/middlewares/errorHandler.middleware.ts
  packages/core-service/src/middlewares/rateLimiter.ts
  packages/core-service/src/middlewares/requestId.ts
  packages/core-service/src/routes/point.routes.ts
  packages/core-service/src/services/point.service.ts
  packages/frontend/src/pages/Dashboard.tsx
  packages/frontend/src/pages/Points.tsx
  packages/frontend/src/pages/admin/PointsAdmin.tsx
  packages/frontend/src/services/api.ts
  packages/shared/security/headers.ts
  packages/webhook-service/scripts/validate-webhook-system.js
  phase2_automated_fixes.js
  phase3_critical_fixes.js
  phase4_final_optimization.js
  phase5_ultra_optimization.js
  phase6_perfect_optimization.js
  quick_fixes.js
  scripts/check-commit-message.cjs
  scripts/check-file-sizes.cjs
  scripts/check-sensitive-info.cjs
  test-api-standards.js
Owners: @owner

fix: update remaining frontend components and test files
  packages/frontend/src/components/MemberList.tsx
  packages/frontend/src/components/agency/AgencyRewardSettings.tsx
  packages/frontend/src/components/agency/RewardStatistics.tsx
  packages/frontend/src/components/hierarchy/HierarchyTree.tsx
  packages/frontend/src/components/hierarchy/TierBadge.tsx
  packages/frontend/src/components/invite/InviteCodeCard.tsx
  packages/frontend/src/components/invite/QRCodeGenerator.tsx
  packages/frontend/src/components/invite/SocialShareButtons.tsx
  packages/frontend/src/components/points/PointsCreditsDashboard.tsx
  packages/frontend/src/components/referral/ReferralCard.tsx
  packages/frontend/src/components/referral/ReferralList.tsx
  packages/frontend/src/components/referral/ReferralRewardsHistory.tsx
  packages/frontend/src/components/referral/ReferralStatistics.tsx
  packages/frontend/src/components/transfer/TransferForm.tsx
  packages/frontend/src/hooks/useHierarchy.tsx
  packages/frontend/src/hooks/useReferral.tsx
  packages/frontend/src/pages/Invite.tsx
  packages/frontend/src/pages/Referrals.tsx
  packages/frontend/src/pages/agency/AgencySettings.tsx
  tests/e2e/access-control.spec.ts
  tests/e2e/block-flow.spec.ts
  tests/e2e/points-system.spec.ts
  tests/e2e/referral-flow.spec.ts
  tests/e2e/transfer-flow.spec.ts
  tests/e2e/visibility.spec.ts
  tests/performance/load-test.js
  tests/security/authorization-verification.spec.ts
  tests/security/security-headers.spec.ts
  tests/security/visibility-verification.spec.ts
Owners: @owner

Add automated backup system with monitoring and email notifications
  .env.production
  Dockerfile.backup
  docker-compose.prod.yml
  docs/BACKUP_DEVELOPMENT.md
  docs/BACKUP_OPERATIONS.md
  docs/BACKUP_SYSTEM.md
  kilocode_automated_backup_service_with_spec.md
  scripts/backup-lightweight.sh
  scripts/backup-monitor.sh
  scripts/send-backup-email.sh
  specs/AUTOMATED_BACKUP_SERVICE_SPEC.md
  test-backup-system.sh
Owners: @owner, @infra-team

Add subscription plans system specification and related documentation
  kilocode_subscription_plans_spec_only.md
  specs/SUBSCRIPTION_PLANS_SYSTEM_SPEC.md
Owners: @owner

Fix shared package exports and monitoring middleware
  config/sla-config.json
  jest.config.cjs
  packages/auth-service/src/app.js
  packages/auth-service/src/routes/security-status.routes.js
  packages/auth-service/src/routes/security.routes.js
  packages/shared/monitoring/metrics.ts
  packages/shared/monitoring/middleware.ts
  packages/speckit/src/config/validation-config.ts
  packages/speckit/src/validation/ValidationEngine.ts
Owners: @owner

CODEOWNERS:

# Default code owners for the entire repository
* @owner

# Specific code owners for different packages
/packages/auth-service/* @auth-team
/packages/core-service/* @core-team
/packages/api-gateway/* @infra-team
/packages/frontend/* @frontend-team
/packages/notification-service/* @infra-team
/packages/mcp-server/* @core-team
/packages/shared/* @core-team

# Documentation
/docs/* @owner

# Configuration files
/.github/* @owner
docker-compose*.yml @infra-team
*.json @owner
*.js @owner
*.ts @owner
